<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/cesarteco/image/upload/v1659836676/ecommerce/images/coder_dicxv3.png" alt="" width="30" height="24">
    </a>
    
    <div class="collapse navbar-collapse " id="navbarNav" >
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/usuario/login">Ingresar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuario/signup">Registrarse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/carrito/dashboard"><i class="fa-solid fa-cart-shopping fa-xl"></i>
              <span id="itemsCart" class="position-absolute top-1 start-90 translate-middle badge rounded-pill bg-secondary">
                0   
              </span>
          </a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>

