{{#if loginMsg}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong>{{loginMsg}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
</div>
{{/if}}  
<div class="col-md-4 mx-auto">
    <div class="card text-bg-light">
        <div class="card-body">
            <h3 class="text-center">Ingrese sus credenciales</h3>
            <form action="/usuario/login" method="POST">
                <div class="form-group">
                    <label>Email:</label>
                    <input class="form-control" required type="text" name="userEmail"/>
                </div>

                <div class="form-group">
                    <label>Contraseña:</label>
                    <input class="form-control" required type="password" name="userPass"/>
                </div>

                <div class="form-group mt-3">
                    <input class="btn btn-primary" type="submit" value="Ingresar"/>
                </div>
                <hr>
                <p>¿Usuario nuevo? <a href="/usuario/signup">Regístrese</a></p>
            </form>                  

        </div>
    </div>
</div>
